    <footer class="row d-block fixed-bottom">
        <div class="card text-center">
            <div class="card-footer bg-dark text-white">
                Product active {{getDate}}
            </div>
        </div>
    </footer>

   