<div id="mainDiv"> 
    <div id="topDiv"></div>
    <section class="flex-row">
        <div class="d-block p-4">
            <div class="jumbotron jumbotron-fluid px-5">
                <h1 class="display-4 text-center px-sm-0 mx-sm-0">Handled tbs</h1>
                <p class="lead text-left text-justify">Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Doloribus nisi, aliquam assumenda expedita sed aperiam sint
                    blanditiis hic magni doloremque id consequatur culpa alias tempore! Eius dolore,
                    magnam laudantium mollitia consequatur illo sint tempore dolorem modi molestiae
                    omnis ea expedita, autem accusantium quibusdam eligendi ipsa deleniti? Quos
                    vitae molestias quis.
                    <span class=" text-warning ">{{ capitalize name }}</span>.</p>
            </div>
        </div>
    </section>
    <div id="bottonDiv"></div>
</div>