<!-- ! -> tab -->
<!DOCTYPE html>
<html lang="en">

    {{> header}}

    <body>
        {{!-- navbar parcial --}}
        {{> navbar}}
        <div id="mainDiv">
            <div id="topDiv"></div>
            <div class="row container mx-auto py-3">
                <h2>Acerca de nosotros...</h2>
                <div class=" float-left d-lg-flex">
                    <p class=" text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Aut eum quas ut eos. Maiores itaque qui tempore facere dolor quidem nisi
                        pariatur necessitatibus provident nam, nulla adipisci eaque cupiditate explicabo
                        laboriosam neque, commodi perspiciatis reiciendis ex! Porro, perspiciatis?
                        Voluptatum ad ipsum quisquam dolor. Harum, laboriosam sequi soluta praesentium
                        nobis earum voluptas modi blanditiis, optio magnam nihil consectetur pariatur
                        veniam. Error aspernatur tempore, eum voluptates, eius ducimus facilis veritatis
                        labore cumque numquam consectetur rerum optio consequuntur asperiores a
                        praesentium odio perferendis placeat nemo ab recusandae repellendus similique
                        eligendi. Quis, in sapiente voluptatum veniam reiciendis eius tenetur enim, odit
                        vel minima temporibus iure. Sequi excepturi numquam necessitatibus facere
                        adipisci tempore ipsum ea error illo ad dolore ipsa beatae fuga temporibus, odit
                        asperiores? Numquam quasiLorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Aut eum q</p>
                    <img
                        src="assets/img/unnamed.jpg"
                        class="img-thumbnail img-fluid rounded col-lg-3 w-100 mxh-50 ml-lg-3"
                        alt="Responsive image"></div>
                </div>
                <div id="bottonDiv"></div>
            </div>
            {{!-- parcial footer --}}
            {{> footer}}

            <!-- https://getbootstrap.com/ -->
            <script
                src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
            <script
                src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
            <!-- JS Bootstrap -->
            <script src="./assets/js/bootstrap.min.js"></script>

        </body>

    </html>